<% title "Equipment" %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'equipment' %>
  <%= stylesheet_link_tag 'button' %>
  <%= stylesheet_link_tag 'map' %>
  <%= stylesheet_link_tag 'loading_indicator' %>
  <%= javascript_include_tag "loading_indicator" %>

  <!-- GMaps API Key that works for localhost -->
  <!--
  <%= javascript_include_tag "http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAA2CKu_qQN-JHtlfQ5L7BLlRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQl3I3p2yrGARYK4f4bkjp9NHpm5w" %>
  <%= javascript_include_tag "ext3/ext-ux-gmappanel/src/Ext.ux.GMapPanel" %>
  -->
  <!--  Should switch to google map version 3 fast as possible for 
        more flexibility of map library
        reference: http://code.google.com/p/ext-ux-gmappanel/updates/list  -->
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=th&region=TH"></script> 
  <%= javascript_include_tag "ext3/ext-ux-gmappanel/src/Ext.ux.GMapPanel3" %>

  <%= render :partial => "settings" %>
  <%= render :partial => "position_store" %>

  <%= javascript_include_tag "position_data_store" %>
  <%= javascript_include_tag "station_map" %>
  <%= javascript_include_tag "station_table" %>
  <%= javascript_include_tag "information_interface" %>
  <%= javascript_include_tag "equipment_interface" %>

  <script type="text/javascript">
    Ext.onReady(function(){
	  var default_view = '<%= Setting.default_view %>'
	
      loadingIndicator.init();
      equipmentInterface.init();
    });
  </script>  
<% end %>


<!-- Loading mask and image -->
<div id="loading-mask" class="loading-mask"> </div>
<div id="loading">
  <div class="loading-indicator">
    <img id="loadingImage" class="loadingImage" 
	src="/javascripts/ext3/resources/images/default/grid/loading.gif" 
	align="absmiddle"> 
    Loading...
  </div>
</div>

<div id="header">
  <h1>Equipment Decision Support</H1>
  <div id="account">
    Apirak | 
    <a href="#">account</a> |
    <a href="#">help</a> |
    <a href="#">logout</a>
  </div>
</div>
