<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag '/javascripts/ext3/resources/css/ext-all' %>
    <%= javascript_include_tag 'ext3/adapter/ext/ext-base' %>
    <%= javascript_include_tag 'ext3/ext-all' %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
